@import '../../style/reset';

.switch {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    &__text {
        color:white;
        font-size: 22px;
        
        text-transform: none;
    }
}