@import '../../style/reset';

#restCard {
    display: flex;
    width: 33%;
    height: auto;
}

.rest {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    background-color: #3E9FFE;
    margin-bottom: 30px;
    color: white;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    span {
        padding-top: 10px;
        font-weight: bold;
        font-size: 22px;
        padding-left: 15px;
    }
    p {
        display: flex;
        justify-content: flex-start;
        padding-left: 15px;
    }
}

.rest__img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    filter: grayscale(70%);

    &:hover {
    filter: none;
    } 
    
}

